<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uhf.uhf">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.uhf.uhf.UHFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name="com.uhf.uhf.ConnectRs232"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DeviceListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/mdiglogt2" />

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderMaskTag"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.uhf.uhf.setpage.PageReaderAddress"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderIdentifier"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderFirmwareVersion"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderTemperature"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderGpio"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderBeeper"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderOutPower"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderAntenna"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderReturnLoss"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderAntDetector"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderMonza"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderRegion"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.uhf.uhf.setpage.PageReaderProfile"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name="com.uhf.uhf.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.uhf.uhf.Monitor"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan"
            tools:targetApi="cupcake" />

        <activity
            android:name="com.uhf.uhf.Setting"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>